<div style='margin: 20px; padding: 20px; border: 2px solid grey'>

  <h2>gux-tabs-legacy playgroud</h2>

  <div style='margin: 10px 0'>
    <gux-button {{on 'click' this.selectTabFive}}>Select tab 5</gux-button>
    <gux-button {{on 'click' this.addNewTabToEnd}}>Add new tab to end</gux-button>
    <gux-button {{on 'click' this.addNewTabToMiddle}}>Add new tab after 3rd tab</gux-button>
    <gux-button {{on 'click' this.reverseTabOrder}}>Reverse tabs</gux-button>
  </div>

  <div>
    <gux-tabs-legacy
      id='tabsLegacy1'
      allow-sort='true'
      {{on 'sortChanged' this.onSortChanged}}
    >
      {{#each this.tabs as |tab|}}
        <gux-tab-legacy tab-id={{tab.id}} tab-icon-name='lock'>
          <span slot='title'>{{tab.title}}</span>
        </gux-tab-legacy>
      {{/each}}
    </gux-tabs-legacy>

  </div>

  <br />
  <h3>Tab order:</h3>
  {{#each this.tabs as |tab|}}
    <div style='margin-top: 3px; font-weight:bold'>{{tab.id}}</div>
  {{/each}}
</div>